body {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

.dark-section {
    background-color: #1F2937;
    padding: 0px 200px;
}

header {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 24px;
    justify-content: space-between;
    color: #F9FAF8;
    font-weight: 900;
    padding: 10px 0px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 400;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-style: none;
    border-radius: 8px;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bold;
}

.hero-panel {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    gap: 50px;
}

.hero-left {
    width: 450px;
}

.hero-main-text {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-sub-text {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    color: #E5E7EB
}

img.hero-image {
    width: 450px;
    height: auto;
    border-radius: 8px; 
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 0px 100px 0px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-gallery {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card-info-flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.card {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}

.card-info {
    width: 150px;
    display: flex;
    margin: 0;
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0px;
}

.statement {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    width: 41%;
}

.quote {
    text-align: right;
    width: 41%;
    font-size: 23px;
    font-weight: bold;
    padding-right: 3.7%;
}